
@model E_Commerce_Site.Models.Product


<div class="form-group col-md-12">

    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload Image</a>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Upload an Image</h3>

                </div>
                <div class="modal-body">

                    @*@using (Html.BeginForm("AddImage", "Products", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()


                        <select id="ColorListSelect" name="ColorListSelect" autofocus class="dropdown col-md-12">
                            @for (int i = 0; i < Model.ColorList.Count(); i++)
                            {
                                <option value="@Model.ColorList[i].ColorId">@Model.ColorList[i].ColorName</option>}
                        </select>
                        <br />

                        <select id="ImagePositionsListSelect" name="ImagePositionsListSelect" class="dropdown col-md-12">
                            @for (int i = 0; i < Model.ImagePositionsList.Count(); i++)
                            {
                                <option value="@Model.ImagePositionsList[i] ">@Model.ImagePositionsList[i]</option>}
                        </select>

                   <input id="ImageFile" title="Select an Image" type="file" name="ImageFile" />
                  }*@

                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/Content/Ajax-loader.gif" width="50" />
                    </div>


                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit" />

                </div>

            </div>


        </div>

    </div>

    <script>

        $(document).ready(function () {


            $("#btnSubmit").click(function () {

                $("#loaderDiv").show();

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/Products/AddImage",
                    data: myformdata,
                    success: function () {
                        $("#loaderDiv").hide();
                        $("#myModal").modal("hide");

                    }

                })
            })

        })


    </script>
    </div>